<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Nhận Dạng Khôn Mặt</title>
    <link rel="icon" type="image/x-icon" href="/8/img/biometrics-facial-recognition-comments-face-recognition-icon-11563169905v2ys7afnbb.png">
    <style>
    
        body {
          background-image: url("https://img.lovepik.com/photo/40072/2165.jpg_wh860.jpg");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        
        </style>
</head>
<body>
    <h1 style="color: #fff;">Web Tích Hợp tính năng nhận dạng khuôn mặt Demo</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ">
                <h2 class="mt-5" style="color: #fff;">Đang nhận dạng ... </h2>
                <img src="{{ url_for('video_feed') }}" width="50%">
            </div>
        </div>
    </div>
    
</body>
</html>